@model WebAndayCome.Models.RutasViewModel

@{
    ViewBag.Title = "Participación";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .titulo {
        font-size: 20px;
        font-family: Arial;
        font-weight: bold;
        font-style: italic;
        color: #1D3557;
    }

    .informacion {
        font-size: 14px;
        font-family: Arial;
        color: #1D3557;
    }

    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #ccc;
        margin: 1em 0;
        padding: 0;
    }

    .fondoSeccion {
        display: grid;
        justify-content: center;
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .infoInput {
        margin-left: 2em;
        width: 20em;
    }

    .botonAcep {
        margin-left: 16em;
        font-size: 14px;
        font-family: Arial;
        background-color: #61C2E2;
        color: #1D3557;
    }

    .dropDownList {
        background-color: #457B9D;
        border-radius: .5em;
        color: #F1FAEE;
    }

    .volverCSS {
        font-size: 14px;
        font-family: Arial;
        background-color: #61C2E2;
        color: #1D3557;
        border-radius: 1em;
        margin-top: 1em;
        margin-left: 1em;
    }
</style>

<h2 class="titulo">@ViewBag.Title</h2>
<h4 class="informacion">Para participar en la ruta, introduzca sus datos.</h4>
<hr />
@using (Html.BeginForm("AddClient", "Routes", FormMethod.Post, new { style = "background-color: #A8DADC; border-radius: .5em;", enctype = "multipart/form-data" }))
{
    <div>
        <button class="volverCSS">
            @Html.ActionLink("Volver", "Index")
        </button>
    </div>

    @Html.AntiForgeryToken()
    <div class="fondoSeccion form-horizontal">
        <div class="form-group">
            <label class="informacion control-label col-md-2">Correo</label>
            <div class="col-md-10">
                <input type="email" id="email" name="email" class = "infoInput form-control" autofocus required />
            </div>
        </div>

        <div class="form-group">
            <label class="informacion control-label col-md-2">Comensales</label>
            <div class="col-md-10">
                <input type="number" id="guests" name="guests" class = "infoInput form-control" required />
            </div>
        </div>

        <div class="form-group">
            <label class="informacion control-label col-md-2">Horario</label>
            <div class="col-md-10">
                <select name="horario" class = "infoInput dropDownList" id="horario" required>
                    <option value="0">Mediodia</option>
                    <option value="1">Noche</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Participar" class="botonAcep btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
