@model WebAndayCome.Models.RestaurantViewModel

@{
    ViewBag.Title = "Enviar Email";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .titulo {
        font-size: 20px;
        font-family: Arial;
        font-weight: bold;
        font-style: italic;
        color: #1D3557;
    }

    .informacion {
        font-size: 14px;
        font-family: Arial;
        color: #1D3557;
    }

    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #ccc;
        margin: 1em 0;
        padding: 0;
    }

    .fondoSeccion {
        display: grid;
        justify-content: center;
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .infoInput {
        margin-left: 2em;
        width: 20em;
    }

    .botonAcep {
        margin-left: 17.5em;
        font-size: 14px;
        font-family: Arial;
        background-color: #61C2E2;
        color: #1D3557;
    }

    .volverCSS {
        font-size: 14px;
        font-family: Arial;
        background-color: #61C2E2;
        color: #1D3557;
        border-radius: 1em;
        margin-top: 1em;
        margin-left: 1em;
    }
</style>

<h2 class="titulo">@ViewBag.Title</h2>
<h4 class="informacion">Escriba un mensaje a cualquier usuario de Anda&Come.</h4>
<hr />
@using (Html.BeginForm("SendMail", "Restaurant", FormMethod.Post, new { style = "background-color: #E63946; border-radius: .5em;", enctype = "multipart/form-data" }))
{
    <div>
        <button class="volverCSS">
            @Html.ActionLink("Volver", "Index")
        </button>
    </div>

    @Html.AntiForgeryToken()
    <div class="fondoSeccion">
        <div class="form-horizontal">
            <div class="form-group">
                <p class="informacion">Nuevo mensaje@*(podria ser código HTML --> lo bloquea HTML, no se puede escribir HTML de manera sencilla)*@</p>
                <div class="col-md-10">
                    <textarea class="infoInput" rows="10" cols="75" id="msg" name="msg" placeholder="Escribe aqui..." autofocus required></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Enviar" class="botonAcep btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
