
<form action="Canjear" method="post">
    <div class="caja">
        <div class="form-group">
            <div class="col-md-12">
                <label control-label">Introduzca su código de ticket</label>
            </div>
        </div>
        <br />
        <br />
        <div class="form-group">
            <div class="col-md-12">
                <input type="text" name="codigo" class="codigo" placeholder=" X X X X - X X X X - X X X X " />
            </div>
        </div>
        <br />
        <br />
        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" class="boton" value="Canjear" />
            </div>
        </div>
        <br />
    </div>
</form>


<style>
    .form-group{
        display:block;
        text-align:center;
        margin:20px;
    }
    .boton {
        background-color: #61C2E2;
        border-radius: .2em;
        border-color: #61C2E2
    }

        .boton:hover {
            background-color: #61DBE2;
        }
        .codigo{
            width:200px;
        }
</style>