@model IEnumerable<WebAndayCome.Models.TagViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tags disponibles</h2>
<hr />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Restaurantes", "Details", new {  id=item.Name  })  
        </td>
    </tr>
}

</table>



<style>
    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #ccc;
        margin: 1em 0;
        padding: 0;
    }

    th {
        background-color: #457B9D;
        color: white;
    }

    td {
        background-color: #A8DADC;
    }

</style>